name: Build AML

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25c

    - name: Build
      run: |
        ndk-build
        ls -R
